@import "_variables";

.session-form-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
}

.session-form-content {
    background-color: #fff;
    text-align: center;
    width: 800px;
    height: 560px;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    box-shadow: $box-shadow;
    position: relative;
}

.session-form-content .icon {
    width: 35px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover {
    cursor: pointer;
}

.session-form-text .logo,
.session-form-text h2,
.session-form-text p {
    margin-bottom: 20px;
}

.session-form-text {
    margin: 120px 0 10px 0;
}

.session-form {
    margin-bottom: 5px;
}

.session-form .input-container {
    width: 300px;
    margin: 0;
    padding: 0px;
    position: relative;
}

.session-form .input-container:focus-within {
    z-index: 1;
    box-shadow: 0 0 0 2px $main-color-opac;
}

.session-form .input-container:first-child {
    border-radius: 10px 10px 0px 0px;
}

.session-form .input-container:nth-child(2) {
    border-radius: 0 0 10px 10px;
}

.session-form .input-container .icon {
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
    margin-top: 5px;
    margin-right: 10px;
}

.session-form .input-container .icon:hover,
.session-form-options p:first-child:hover {
    cursor: pointer;
}

.session-form .input-container input {
    font-size: 18px;
    margin: 10px;
}

.session-form input[type="submit"] {
    display: none;
}

.session-errors-list {
    flex-grow: 1;
}

.session-form-options {
    margin-bottom: 50px;
    margin-top: auto;
}

.session-form-options p:first-child {
    margin-bottom: 10px;
    color: $link;
}
