@import "_variables";

// General Modal
///////////////////////////////////////////////////////////////////////////////

.modal-background {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 1px solid $border-color;
    box-shadow: $box-shadow;
    position: relative;
    width: 550px;
    padding: 30px;
    animation-name: fade-in;
    animation-duration: 0.25s;
}

.modal-container .icon {
    width: 35px;
    height: 35px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

// Session Modal
///////////////////////////////////////////////////////////////////////////////

.modal-container.session {
    align-items: center;
    text-align: center;
    width: 800px;
    height: 560px;
    padding: 0px;
}

.session-form-text svg {
    height: 55px;
    width: 55px;
    margin-bottom: 15px;
    opacity: 0.5;
    -webkit-filter: drop-shadow($box-shadow);
    filter: drop-shadow($box-shadow);
}

.session-form-text h2,
.session-form-text p {
    margin-bottom: 20px;
}

.session-form-text {
    margin: 90px 0 10px 0;
}

.session-form {
    margin-bottom: 5px;
}

.session-form .input-container {
    width: 300px;
    margin: 0;
    padding: 0px;
    position: relative;
}

.session-form .input-container:focus-within {
    z-index: 1;
    box-shadow: 0 0 0 2px $main-color-opac;
}

.session-form .input-container:first-child {
    border-radius: 10px 10px 0px 0px;
}

.session-form .input-container:nth-child(2) {
    border-radius: 0 0 10px 10px;
}

.session-form .input-container .icon {
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
    margin-top: 5px;
    margin-right: 10px;
}

.session-form .input-container input {
    font-size: 18px;
    margin: 10px;
}

.session-form input[type="submit"] {
    display: none;
}

.session-errors-list {
    flex-grow: 1;
}

.session-form-options {
    margin-bottom: 50px;
    margin-top: auto;
}

.session-form-options p:first-child {
    font-weight: 600;
    margin-bottom: 10px;
    color: $link;
    animation-name: fade-in;
    animation-duration: 2.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Text Modal
///////////////////////////////////////////////////////////////////////////////

.modal-container.extended-text h1 {
    margin-bottom: 5px;
}

.modal-container.extended-text h2 {
    font-size: 12px;
    color: $gray-text;
    font-weight: 400;
    margin-bottom: 30px;
    margin-left: 4px;
}

.modal-container.extended-text p {
    max-height: 400px;
    overflow-y: scroll;
    font-size: 15px;
}

// About Modal
///////////////////////////////////////////////////////////////////////////////

.modal-container.about {
    align-items: center;
    text-align: center;
    width: 800px;
    // height: 560px;
}

.modal-container.about a {
    transition: all 0.5s;
}

.about-header {
    text-align: center;
    border-bottom: 2px solid $border-color;
    margin-bottom: 25px;
    animation-name: fade-in;
    animation-duration: 1.5s;
}

.about-header svg {
    height: 55px;
    width: 55px;
    opacity: 0.5;
    -webkit-filter: drop-shadow($box-shadow);
    filter: drop-shadow($box-shadow);
}

.about-header h1 {
    color: $main-color;
    margin-bottom: 15px;
}

.about-header h2 {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 25px;
    color: $gray-text;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}

.about-description {
    border-bottom: 1px solid $border-color;
    margin-bottom: 25px;
}

.about-description,
.about-contact {
    max-width: 55%;
}

.about-description p {
    margin-bottom: 20px;
}

.about-description p:last-child {
    margin-bottom: 25px;
}

.about-contact {
    margin-bottom: 15px;
}

.about-contact .thank-you {
    font-weight: 600;
}

.about-contact span {
    display: block;
    margin-bottom: 15px;
}
