@import "_variables";

.nav {
    position: relative;
    flex-basis: 16rem;
    flex-grow: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-right: 1px solid $border-color;
}

.current-user {
    position: absolute;
    padding: 20px 0;
    width: calc(100% - 40px);
    bottom: 0;
    border-top: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
