// Place all the styles related to the playlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist-item {
    display: flex;
    flex-flow: row nowrap;
}

#new-playlist-field {
    background-color: transparent;
    border: none;
    width: 100%;
}

#new-playlist-field:focus {
    outline: none;
}

#new-playlist-field:focus::placeholder {
    color: transparent;
}
