@import "_variables";

// Global Styles
///////////////////////////////////////////////////////////////////////////////

html {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

body {
    line-height: 1.5;
}

a,
a:link,
a:visited {
    color: $link;
}

h1,
h2,
h3 {
    line-height: 1.2;
    letter-spacing: 0.005em;
    margin-bottom: 10px;
}

h1 {
    font-size: 34px;
    font-weight: 700;
}

h2 {
    font-size: 26px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

.error {
    font-weight: 600;
    color: $error;
    font-size: 14px;
}

.pointer:hover {
    cursor: pointer;
}

.input-container {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid $border-color;
    padding: 7.5px 10px;
    display: flex;
    align-items: center;
}

.input-container:focus-within {
    // border-color: transparent;
    box-shadow: 0 0 0 4px $main-color-opac;
}

.input-container input {
    width: 100%;
    border: none;
}

.input-container input:focus {
    outline: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    height: 30px;
    min-width: 90px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.04em;
    background-color: $main-color;
    border: 1px solid $border-color;
}

.btn.wide {
    width: 100%;
}

.icon {
    width: 20px;
    height: 20px;
    opacity: 0.65;
}

.icon.color {
    fill: $main-color;
}

.icon.white {
    fill: white;
    opacity: 1;
}

.icon.disabled {
    opacity: 0.4;
}

.icon.sml {
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.icon.ms {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

.icon.med {
    width: 28px;
    height: 28px;
}

.icon.lrg {
    width: 34px;
    height: 34px;
}

// app
///////////////////////////////////////////////////////////////////////////////

.app {
    display: flex;
    height: 100vh;
}

// Nav
///////////////////////////////////////////////////////////////////////////////

.nav {
    position: relative;
    flex-basis: 16.25rem;
    flex-grow: 1;
    padding: 15px 25px;
    background-color: #f9f9f9;
    border-right: 1px solid $border-color;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav .logo {
    display: flex;
    align-items: flex-end;
    height: 20px;
    margin: 4px 0 0 2px;
    opacity: 0.85;
}

.nav .logo h1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 0.88;
    letter-spacing: -0.5px;
    margin: 0;
    color: black;
    text-shadow: $box-shadow;
}

.nav .logo svg {
    width: 20px;
    height: 20px;
    margin-right: -2px;
    -webkit-filter: drop-shadow($box-shadow);
    filter: drop-shadow($box-shadow);
}

.input-container.search {
    margin: 25px 0;
}

.input-container.search .icon {
    width: 15px;
}

.input-container.search input {
    margin-left: 5px;
}

.nav-section-container {
    max-height: calc(100% - 180px);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav-section {
    margin-bottom: 20px;
}

.nav-section h2 {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.nav-section-list {
    overflow: hidden;
}

.nav-section-list-item {
    padding: 5px 7.5px;
    border-radius: 7.5px;
}

.nav-section-list span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav-section-list a.active .nav-section-list-item {
    background-color: rgba(72, 72, 78, 0.1);
    font-weight: 600;
}

.nav-section-list-item .icon {
    margin-right: 10px;
}

.nav-section a {
    color: inherit;
    font-size: 15px;
}

.nav-section-list-item {
    display: flex;
    flex-flow: row nowrap;
}

#new-playlist-field {
    background-color: transparent;
    border: none;
    width: 100%;
}

#new-playlist-field:focus {
    outline: none;
}

#new-playlist-field::placeholder {
    opacity: 0.6;
}

#new-playlist-field:focus::placeholder {
    color: transparent;
}

.current-user {
    position: absolute;
    padding: 20px 0;
    width: calc(100% - 50px);
    bottom: 0;
    border-top: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.current-user .icon {
    transform: scaleX(-1);
}

.trial-container {
    position: absolute;
    bottom: 25px;
    width: calc(100% - 50px);
    background: rgb(62, 156, 181);
    background: linear-gradient(
        160deg,
        rgba(50, 136, 160, 0.9) 0%,
        rgba(62, 156, 181, 1) 65%,
        rgba(62, 156, 181, 0.6) 100%
    );
    padding: 25px;
    border-radius: 10px;
    box-shadow: $box-shadow;
    margin-top: 5px;
}

.trial-container h2 {
    color: white;
}

.trial-container span {
    color: white;
    font-weight: 600;
}

.trial-container .btn {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        160deg,
        rgba(255, 255, 255, 1) 0%,
        rgb(236, 230, 230) 100%
    );
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
    height: 40px;
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: $box-shadow;
}

// Main Container
///////////////////////////////////////////////////////////////////////////////

.main {
    height: 100%;
    flex-grow: 999;
    min-width: 50%;
    position: relative;
}

// Music Player
///////////////////////////////////////////////////////////////////////////////

.music-player {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.97);
    border-bottom: 1px solid $border-color;
}

.music-player-inner {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1680px;
    margin: 0 auto;
}

.music-player-inner > .controls,
.music-player-inner > .display,
.music-player-inner > .volume {
    width: 33.33%;
    text-align: center;
}

.music-player-inner > .controls {
    flex: 0 2 30%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-player-inner > .display {
    flex: 2 1 40%;
    border: 1px solid $border-color;
    display: flex;
    height: 45px;
    background-color: white;
}

.music-player-inner > .display.off {
    align-items: center;
    justify-content: center;
}

.music-player-inner > .display.off svg {
    opacity: 0.5;
    -webkit-filter: drop-shadow($box-shadow-2);
    filter: drop-shadow($box-shadow-2);
}

.music-player-inner > .display > .display-inner {
    position: relative;
    display: flex;
    flex-flow: column;
    flex-grow: 2;
}

img.album-artwork {
    width: 45px;
}

.display-inner > .song-info {
    height: 42px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1em;
    z-index: 2;
}

.display-inner > .song-info > .track-title {
    font-weight: 600;
    margin-bottom: 3px;
}

.display-inner > .song-info > .artist-album a {
    color: $gray-text;
}

.display-inner > .song-info > .artist-album a:hover {
    text-decoration: underline;
}

.display-inner > .times {
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    color: $gray-text;
    opacity: 0;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    transition: opacity 0.4s;
}

.music-player-inner:hover .times {
    opacity: 0.75;
}

.display-inner > .slider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.display-inner > .slider > .slider-input {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    appearance: none;
    overflow: visible;
    background-color: transparent;
    border: 0;
    color: inherit;
    position: relative;
    z-index: 2;
    margin: 0;
}

.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 6px;
    background: rgba(0, 0, 0, 0.65);
}

.slider-input::-moz-range-thumb {
    width: 4px;
    height: 6px;
    background: rgba(0, 0, 0, 0.65);
}

.music-player-inner > .volume {
    flex: 0 2 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volume-input {
    padding: 0;
    width: 70px;
    height: 3px;
    border-radius: 10px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0.25);
    border: 0;
    color: inherit;
}

.volume-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    border: 1px solid $border-color;
    box-shadow: $box-shadow;
}

.volume-input::-moz-range-thumb {
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    border: 1px solid $border-color;
    box-shadow: $box-shadow;
}

.slider-input:focus,
.volume-input:focus {
    outline: none;
}

// Main Content
///////////////////////////////////////////////////////////////////////////////

.main-content {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    padding: 95px 40px 40px 40px;
}

.main-content-inner {
    position: relative;
    max-width: 1680px;
    margin: 0 auto;
}

// Album
///////////////////////////////////////////////////////////////////////////////

.album-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.album-cover-container {
    width: 25%;
    position: sticky;
    top: 0;
    height: 100%;
    min-width: 200px;
    max-width: 380px;
    margin-right: 20px;
}

.album-cover {
    width: 100%;
    border-radius: 3px;
    box-shadow: $box-shadow-2;
}

.album-header-tracks {
    flex: 1;
}

.album-header {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 0 20px;
}

.album-header h1 {
    font-size: 24px;
    margin-bottom: 1px;
}

.album-header h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}

.album-header h2 a {
    color: $main-color;
}

.album-header h3 {
    color: $gray-text;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0;
}

.album-header .btn {
    margin: 15px 0;
}

.text-container {
    position: relative;
    max-width: 540px;
    margin-top: 20px;
}

.text-cutoff {
    display: block;
    overflow: hidden;
    word-break: break-word;
    height: 70px;
    font-size: 12px;
}

.text-cutoff strong {
    font-weight: 500;
    margin-right: 5px;
    color: $gray-text;
}

.more {
    position: absolute;
    right: 0;
    bottom: 0;
    appearance: none;
    padding: 0;
    padding-left: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 1) 100%
    );

    border: none;
    font-size: 12px;
    color: $main-color;
}

.more:focus {
    outline: none;
}

.tracks-list {
    margin-top: 20px;
    display: table;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.track-row {
    display: table-row;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $border-color;
    border-radius: 6px;
    padding: 0 20px;
    box-sizing: border-box;
}

.track-row:first-child {
    border-top: 1px solid $border-color;
}

.track-row:hover {
    background-color: #fbfbfb;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
}

.track-row.selected {
    background-color: $main-color;
    color: white;
}

.track-row > .track-index {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 35px;
    color: $gray-text;
}

.track-row > .track-title {
    flex-grow: 1;
}

.track-row > .track-save {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 35px;
}

.track-row > .track-duration {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 70px;
    color: $gray-text;
}

.track-row.selected .track-index,
.track-row.selected .track-duration {
    color: white;
}

.album-meta {
    text-align: center;
    color: $gray-text;
    font-size: 11px;
    font-weight: 600;
    margin: 20px 20px 0;
}

.album-meta p:last-child {
    color: $gray-text-2;
}

// Browse
///////////////////////////////////////////////////////////////////////////////

.header-section {
    border-bottom: 1px solid $border-color;
}

.featured-section {
    padding: 20px 0;
    border-bottom: 1px solid $border-color;
}

.featured-container {
    display: inline-block;
    width: calc(50% - 20px);
    object-fit: cover;
}

.featured-container:hover img {
    filter: brightness(0.8);
}

.featured-container:first-child {
    margin-right: 20px;
}

.featured-container p {
    font-size: 11px;
    color: $main-color;
    font-weight: 600;
    margin-bottom: 2.5px;
}

.featured-container h2 {
    color: $text-color;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.00005em;
    margin-bottom: 2.5px;
}

.featured-container h2:nth-child(3) {
    color: $gray-text;
    margin-bottom: 10px;
}

.featured-container img {
    width: 100%;
    height: calc(100vw / 5.5);
    max-height: 300px;
    border-radius: 10px;
    box-shadow: $box-shadow;
    object-fit: cover;
    filter: none;
    transition: filter 0.2s;
}

.albums-slider {
    position: relative;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid $border-color;
}

.albums-slider::before {
    content: "";
    position: absolute;
    left: -15px;
    background: linear-gradient(to right, white, transparent);
    height: 100%;
    width: 1.5%;
    z-index: 2;
}

.albums-slider::after {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    background: linear-gradient(to left, white, transparent);
    height: 100%;
    width: 1.5%;
    z-index: 2;
}

.albums-slider h2 {
    font-size: 19px;
}

.albums-slider-list {
    margin: -15px;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
}

.albums-slider-list-item {
    margin-right: 20px;
    position: relative;
}

.albums-slider-list-item:hover img {
    filter: brightness(0.8);
}

.albums-slider-list-item img {
    width: (13vw);
    min-width: 145px;
    max-width: 250px;
    border-radius: 3px;
    box-shadow: $box-shadow-light;
    border: 1px solid $border-color-light;
    filter: none;
    transition: filter 0.2s;
}

.albums-slider-list-item span {
    display: block;
    font-size: 13px;
}

.albums-slider-list-item .album {
    color: $text-color;
}

.albums-slider-list-item .artist {
    color: $gray-text;
}

.albums-slider-list-item span:hover {
    text-decoration: underline;
}

.albums-slider-list-item .icon {
    height: 35px;
    width: 35px;
    position: absolute;
    left: 7px;
    bottom: 50px;
    opacity: 0;
    transition: opacity 0.75s;
}

.albums-slider-list-item:hover .icon {
    opacity: 1;
}

// Artist
///////////////////////////////////////////////////////////////////////////////

.artist-header {
    position: relative;
    height: calc(100vw / 3.35);
    min-height: 325px;
    max-height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: -40px -40px 0 -40px;
    padding: 25px 40px;
    display: flex;
    align-items: flex-end;
}

.artist-header::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -40px;
    bottom: 0;
    left: -40px;
    height: 150px;
    top: initial;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.36) 0,
        rgba(0, 0, 0, 0.25) 36%,
        rgba(0, 0, 0, 0) 100%
    );
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.36) 0px,
        rgba(0, 0, 0, 0.25) 36%,
        rgba(0, 0, 0, 0) 100%
    );
}

.artist-header .icon {
    height: 45px;
    width: 45px;
    z-index: 1;
    opacity: 1;
    -webkit-filter: drop-shadow($box-shadow-3);
    filter: drop-shadow($box-shadow-3);
    margin-right: 5px;
}

.artist-header h1 {
    margin: 0;
    color: white;
    z-index: 1;
    text-shadow: $box-shadow-3;
}
